<div class="container container--main">
  
  <h1 class="title">Eventos em Destaque</h1>
  <h2 class="subtitle">Veja quais são os próximos eventos de tecnologia no Brasil</h2>

  <div class="columns">
    <div class="column is-one-third">

      <div class="card">
        <div class="card-content">
          <div class="media">
            <%#<div class="media-left">
              <figure class="image" style="height: 40px; width: 40px;">
                <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
              </figure>
            </div>%>
            <div class="media-content">
              <p class="title is-4">FrontInVale 2017</p>
              <p class="subtitle is-6">São José dos Campos, SP</p>
            </div>
          </div>

          <div class="content">
            <p>Terceira edição do maior evento de Front-End do Vale do Paraíba. Um dia inteiro com conteúdos incríveis para você se tornar um front-end monstro! ;)</p>
            <small>Faro Hotel - 16 de setembro de 2017</small>
          </div> <!-- .content -->
        </div>
        <footer class="card-footer">
          <a class="card-footer-item">Ver Mais</a>
        </footer>
      </div> <!-- .card -->
      
    </div>
  </div>

</div>