<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Contato
      </h1>
    </div>
  </div>
</section>

<div class="container">

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h2 class="subtitle">
        Sugestões, dúvidas e críticas são bem-vindas
        </h2>
      </div>
    </div>
  </section>

  <% if params[:sent] %>
    <div class="notification is-success">
      Seu contato foi enviado com sucesso!
    </div>
  <% end %>

  <%= form_tag(create_contact_path, method: :post) do %>

    <label for="name" class="label">Nome</label>
    <p class="control">
      <input required type="text" name="contact[name]" id="name" class="input">
    </p>

    <label for="email" class="label">E-mail</label>
    <p class="control">
      <input required type="email" name="contact[email]" id="email" class="input">
    </p>

    <label for="message" class="label">Mensagem</label>
    <p class="control">
      <textarea id="message" name="contact[message]" class="textarea"></textarea>
    </p>

    <div class="control is-grouped">
      <p class="control">
        <button type="submit" class="button is-danger">Enviar</button>
      </p>
    </div>

  <% end %>

</div> <!-- .container -->