<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Contato
      </h1>
    </div>
  </div>
</section>

<div class="container">

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h2 class="subtitle">
        Sugestões, dúvidas e críticas são bem-vindas
        </h2>
      </div>
    </div>
  </section>

  <label for="name" class="label">Nome</label>
  <p class="control">
    <input required type="text" id="name" class="input">
  </p>

  <label for="email" class="label">E-mail</label>
  <p class="control">
    <input required type="email" id="email" class="input">
  </p>

  <label for="message" class="label">Mensagem</label>
  <p class="control">
    <textarea name="message" id="message" class="textarea"></textarea>
  </p>

  <div class="control is-grouped">
    <p class="control">
      <button class="button is-primary">Submit</button>
    </p>
    <p class="control">
      <button class="button is-link">Cancel</button>
    </p>
  </div>

</div> <!-- .container -->