<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Devents</h1>
    <h2>Contato</h2>

    <h3>Nome</h3>
    <p>
      <%= @contact[:name] %>
    </p>

    <h3>E-mail</h3>
    <p>
      <%= @contact[:email] %>
    </p>

    <h3>Mensagem</h3>
    <p>
      <%= @contact[:message] %>
    </p>

  </body>
</html>