.container--main {
  margin-top: 40px;
}

.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active,a.nav-item:hover {
  border-bottom: 3px solid #ff3860 !important;
  color: #ff3860;
}

.is-danger-text {
  color: #ff3860;
}

.footer {
  margin-top: 80px;
  padding: 3rem 1.5rem 3rem;
}

.footer a {
  color: #ff3860;
}

.footer .icon {
  font-size: 50px;
  margin-top: 10px;
}